# App
PORT="int"
MAX_DLQ_SIZE="int"
MAX_JOB_ATTEMPT_COUNT="int"
MAX_JOB_RETRY_COUNT="int"

# DB
DB_URL="url"
DB_HOST="ip_addr"
DB_MIGRATIONS_DIR="string"
DB_NAME="string"
DB_PASSWORD="string"
DB_PORT="int"
SSL_MODE="string" # possible values: disable, require, verify-full
DB_USER="string"

# Redis
REDIS_DB="int"
REDIS_HOST="ip_addr"
REDIS_PASSWORD="string"
REDIS_PORT="int"

# Socket
SOCKET_READ_BUFFER_SIZE="int"
SOCKET_WRITE_BUFFER_SIZE="int"
